{% extends "proba_strzelnicza/layout.html" %}

{% block body %}

    <h1 style="text-align: center; font-size: 40px;">Proba {{ proba_strzelnicza.id_proby }}</h1>
    <h2>Dane</h2>
    <ol>
        <form method="POST" enctype="multipart/form-data">
        <li>Bron:<div style="font-weight:bold">{{ proba_strzelnicza.id_bron }}</div>
        </li>
        <li>Więcej informacji o użytym rodzaju broni:
            <a href="{{ proba_strzelnicza.link }}">
                <button>Kliknij tutaj</button>
            </a>
        </li>
        <li>Kaliber: <div style="font-weight:bold">{{ proba_strzelnicza.id_pocisk }}</div></li>
        <li>Więcej informacji o użytym rodzaju kalibra:
            <a href="{{ proba_strzelnicza.link_kaliber }}">
                <button>Kliknij tutaj</button>
            </a>
        </li>
        <style>
            div{
                font-weight: bold;
        }
        </style>


        <li>Temperatura:<div> {{ proba_strzelnicza.temperatura }} stopni Celcjusza</div></li>
        <li>Warunki atmosferyczne:<div> {{ proba_strzelnicza.warunki_atmosferyczne }}</div></li>
        <li>Prędkość wiatru:<div> {{ proba_strzelnicza.predkosc_wiatru }} km/h</div></li>
        <li>Rodzaj zbiornika do którego oddawany jest <div> {{ proba_strzelnicza.material }}</div></li>
        <li>Podłoże na którym odbywa się próba:<div> {{ proba_strzelnicza.podloze}}</div></li>
        <li>Czy doszło do rykoszetu:<div> {{ proba_strzelnicza.rykoszet }}</div></li>
        <li>Czynnik wypełniający pojemnik:<div> {{ proba_strzelnicza.czynnik }}</div></li>
        <li>Rodzaj kamery IR:<div> {{ proba_strzelnicza.kamera_ir }}</div></li>
        </form>
    </ol>

    <img src="{{ post.zdjecie.url }}">

    <h3>Czynnik wypełniający zbiornik ({{ proba_strzelnicza.material}}): {{ proba_strzelnicza.czynnik }}</h3>
    <ul>
        <li>Gestość czynnika:<div> {{ proba_strzelnicza.czynnik.parametr }} kg/m^3</div></li>
        <li>Temperatura czynnika:<div> {{proba_strzelnicza.czynnik.temperatura }} stopni Celcjusza</div></li>
        <li>Wypełnienie ostrzeliwanego pojemnika:<div> {{ proba_strzelnicza.czynnik.wypelnienie }} %</div></li>
    </ul>
    <a href="{% url 'index' %}">Wstecz</a>
{% endblock %}