{% extends "proba_strzelnicza/layout.html" %}

{% block body %}

    <h1>Proba {{ proba_strzelnicza.id_proby }}</h1>

    <ol>

        <li>Bron: {{ proba_strzelnicza.id_bron }}</li>
        <li>Więcej informacji o użytym rodzaju broni:
            <a href="{{ proba_strzelnicza.link }}">
                <button>Kliknij tutaj</button>
            </a>
        </li>
        <li>Kaliber: {{ proba_strzelnicza.id_pocisk }}</li>
        <li>Więcej informacji o użytym rodzaju kalibra:
            <a href="{{ proba_strzelnicza.link_kaliber }}">
                <button>Kliknij tutaj</button>
            </a>
        </li>
        <li>Temperatura: {{ proba_strzelnicza.temperatura }} stopni Celcjusza</li>
        <li>Warunki atmosferyczne: {{ proba_strzelnicza.warunki_atmosferyczne }}</li>
        <li>Prędkość wiatru: {{ proba_strzelnicza.predkosc_wiatru }} km/h</li>
        <li>Rodzaj zbiornika do którego oddawany jest strzał: {{ proba_strzelnicza.material }}</li>
        <li>Podłoże na którym odbywa się próba: {{ proba_strzelnicza.podloze}}</li>
        <li>Czy doszło do rykoszetu: {{ proba_strzelnicza.rykoszet }}</li>
        <li>Czynnik wypełniający pojemnik: {{ proba_strzelnicza.czynnik }}</li>
        <li>Rodzaj kamery IR: {{ proba_strzelnicza.kamera_ir }}</li>
    </ol>
    <h2>Czynnik wypełniający zbiornik ({{ proba_strzelnicza.material}}): {{ proba_strzelnicza.czynnik }}</h2>
    <ul>
        <li>Gestość czynnika: {{ proba_strzelnicza.czynnik.parametr }} kg/m^3</li>
        <li>Temperatura czynnika: {{proba_strzelnicza.czynnik.temperatura }} stopni Celcjusza</li>
        <li>Wypełnienie ostrzeliwanego pojemnika: {{ proba_strzelnicza.czynnik.wypelnienie }} %</li>
    </ul>
    <a href="{% url 'index' %}">Wstecz</a>
{% endblock %}